@import "fonts", "mixins", "bootstrap", "normalize.css";

$alpin: 'alpin', 'arial narrow', 'helvetica neue', helvetica, arial, sans-serif;

body {
   background: #000 url(../img/background.jpg) center center fixed no-repeat;
   -moz-background-size: cover;
   background-size: cover;
   color:#eee;
   font: normal 100%/1.5 'proxima-nova','helvetica neue',helvetica,sans-serif;
   margin-top:2em;
   text-shadow:1px 1px 1px #000;
}

h1 { color:#fc0; font-weight: bold; font-size: 3em; }